<div class="col-md-2 col-md-4">
  <% if product.image_url.present? %>
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <% end %>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
  <strong><%= product.price %></strong>
</div><!--end col-->
